extends ../layout/master.pug

block content
  .w3l-homeblock1.py-5
    .container.pt-lg-5.pt-md-4
      // block
      .row
        .col-lg-9
          h3.section-title-left Featured posts 
          .row
            .col-lg-5.col-md-6.item
              if featured1
                .card
                  .card-header.p-0.position-relative
                    a(href='#blog-single')
                      img.card-img-bottom.d-block.radius-image(src=featured1.cover alt='Card image cap')
                  .card-body.p-0.blog-details
                    a.blog-desc(href='#blog-single')
                      | #{featured1.title}
                    p
                      | #{featured1.short_description}
                    .author.align-items-center.mt-3.mb-1
                      a(href='#author') Johnson smith
                      |  in 
                      a(href='#url') Design
                    ul.blog-meta
                      li.meta-item.blog-lesson
                        span.meta-value  April 13, 2020 
                      li.meta-item.blog-students
                        span.meta-value  6min read
                    a.btn.btn-style.btn-outline.mt-4(href='#featuredposts')
                      | All featured
                      | posts
            .col-lg-7.col-md-6.mt-md-0.mt-5
              .list-view.list-view1
                each item, index in featured
                  .grids5-info(class=index > 0 ? 'mt-5' : '')
                    a.d-block.zoom(href='#blog-single')
                      img.img-fluid.radius-image.news-image(src=item.cover alt='')
                    .blog-info.align-self
                      a.blog-desc1(href='#blog-single')
                        | #{item.title}
                      .author.align-items-center.mt-3.mb-1
                        a(href='#author') Johnson smith
                        |  in 
                        a(href='#url') Design
                      ul.blog-meta
                        li.meta-item.blog-lesson
                          span.meta-value  April 13, 2020 
                        li.meta-item.blog-students
                          span.meta-value  6min read
        .col-lg-3.trending.mt-lg-0.mt-5
          h3.section-title-left Trending 
          each item, index in trending
            .grids5-info
              h4 0#{index + 1}.
              .blog-info
                a.blog-desc1(href='#blog-single')
                  | #{item.title}
                .author.align-items-center.mt-2.mb-1
                  a(href='#author') Johnson smith
                  |  in 
                  a(href='#url') Design
                ul.blog-meta
                  li.meta-item.blog-lesson
                    span.meta-value  April 13, 2020 
                  li.meta-item.blog-students
                    span.meta-value  6min read
      // //block
      // block
      .item.mt-5.pt-4
        .row
          if highlight1
            .col-lg-6
              a(href='#blog-single')
                img.card-img-bottom.d-block.radius-image(src=highlight1.cover alt='Card image cap')
            .col-lg-6.blog-details.align-self.mt-lg-0.mt-sm-5.mt-4
              a.blog-desc-big(href='#blog-single')
                | #{highlight1.title}
              p
                | #{highlight1.short_description}
              .author.align-items-center.mt-4.mb-1
                a(href='#author') Johnson smith
                |  in 
                a(href='#url') Design
              ul.blog-meta
                li.meta-item.blog-lesson
                  span.meta-value  April 13, 2020 
                li.meta-item.blog-students
                  span.meta-value  6min read
      // //block
      // block
      .item.mt-5.pt-lg-5
        h3.section-title-left Today Highlights 
        .row
          each item, index in highlight
            .col-md-6.list-view.list-view1
              .grids5-info(class=index > 1 ? 'mt-5': '')
                a.d-block.zoom(href='#blog-single')
                  img.img-fluid.radius-image.news-image(src=item.cover alt='')
                .blog-info.align-self
                  a.blog-desc1(href='#blog-single')
                    | Edit/proofread your post, and fix your
                    | formatting.
                  .author.align-items-center.mt-3.mb-1
                    a(href='#author') Johnson smith
                    |  in 
                    a(href='#url') Design
                  ul.blog-meta
                    li.meta-item.blog-lesson
                      span.meta-value  April 13, 2020 
                    li.meta-item.blog-students
                      span.meta-value  6min read
                  
          .col-lg-2.col-sm-6.mt-lg-0.mt-5
            .ad-img
              a(href='#ad-img')
                img.img-fluid(src='assets/images/ad1.jpg' alt='ad image')
      // //block
      // block
      .row.mt-5.pt-5
        .col-lg-9.most-recent
          h3.section-title-left Most Recent posts 
          .list-view
            each item, index in post1
              .grids5-info.img-block-mobile(class=index > 0 ? 'mt-5': '')
                .blog-info.align-self
                  span.category Technology
                  a.blog-desc.mt-0(href='#blog-single')
                    | #{item.title}
                  p
                    | #{item.short_description}
                  .author.align-items-center.mt-3.mb-1
                    a(href='#author') Johnson smith
                    |  in 
                    a(href='#url') Design
                  ul.blog-meta
                    li.meta-item.blog-lesson
                      span.meta-value  April 13, 2020 
                    li.meta-item.blog-students
                      span.meta-value  6min read
                a.d-block.zoom.mt-md-0.mt-3(href='#blog-single')
                  img.img-fluid.radius-image.news-image(src=item.cover alt='')
            
            .row.most-recent-inner.my-5.py-lg-4
              each item, index in post2
                .col-md-6
                  .grids5-info(class=index > 1 ? 'mt-5': '')
                    a.d-block.zoom(href='#blog-single')
                      img.img-fluid.radius-image.news-image(src=item.cover alt='')
                    .blog-info.align-self
                      a.blog-desc1(href='#blog-single')
                        | #{item.title}
                      .author.align-items-center.mt-3.mb-1
                        a(href='#author') Johnson smith
                        |  in 
                        a(href='#url') Design
                      ul.blog-meta
                        li.meta-item.blog-lesson
                          span.meta-value  April 13, 2020 
                        li.meta-item.blog-students
                          span.meta-value  6min read
                 
            
            each item, index in posts
              .grids5-info.img-block-mobile(class=index > 0 ? 'mt-5': '')
                .blog-info.align-self
                  span.category Technology
                  a.blog-desc.mt-0(href='#blog-single')
                    | #{item.title}
                  p
                    | #{item.short_description}
                  .author.align-items-center.mt-3.mb-1
                    a(href='#author') Johnson smith
                    |  in 
                    a(href='#url') Design
                  ul.blog-meta
                    li.meta-item.blog-lesson
                      span.meta-value  April 13, 2020 
                    li.meta-item.blog-students
                      span.meta-value  6min read
                a.d-block.zoom.mt-md-0.mt-3(href='#blog-single')
                  img.img-fluid.radius-image.news-image(src=item.cover alt='')
          // pagination
          .pagination-wrapper.mt-5
            ul.page-pagination
              li
                span.page-numbers.current(aria-current='page') 1
              li
                a.page-numbers(href='#url') 2
              li
                a.page-numbers(href='#url') 3
              li
                a.page-numbers(href='#url') 4
              li
                a.page-numbers(href='#url') ....
              li
                a.page-numbers(href='#url') 15
              li
                a.next(href='#url')
                  span.fa.fa-angle-right
          // //pagination
        .col-lg-3.trending.mt-lg-0.mt-5.mb-lg-5
          .pos-sticky
            h3.section-title-left Trending 
            each item, index in trending
              .grids5-info
                h4 0#{index + 1}.
                .blog-info
                  a.blog-desc1(href='#blog-single')
                    | #{item.title}
                  .author.align-items-center.mt-2.mb-1
                    a(href='#author') Johnson smith
                    |  in 
                    a(href='#url') Design
                  ul.blog-meta
                    li.meta-item.blog-lesson
                      span.meta-value  April 13, 2020 
                    li.meta-item.blog-students
                      span.meta-value  6min read
      // //block
      // ad block
      .ad-block.text-center.mt-5
        a(href='#url')
          img.img-fluid(src='assets/images/ad.gif' alt='ad image')
      // //ad block
